openapi: 3.0.0
info:
  contact:
    email: support@pappers.fr
    name: Support technique Pappers
  description: |
    L'API de Pappers vous permet de récupérer des informations et documents sur les entreprises françaises à partir de leur numéro SIREN ou SIRET.

    Vous devez indiquer votre clé d'API dans les requêtes, soit via le header `api-key`, soit (déconseillé) en utilisant le paramètre query `api_token`.

    L'URL d'accès à l'API est https://api.pappers.fr/v2/

    Lien vers la documentation de la V3 : https://www.pappers.fr/api/documentation/v3

    Lien vers la documentation de l'API internationale : https://www.pappers.in/api/documentation

    L'historique des modifications (changelog) est accessible à l'url suivante : https://www.pappers.fr/api/changelog
  title: Pappers API
  version: 2.16.0
servers:
- url: https://api.pappers.fr/v2
security:
- apiKey: []
paths:
  /entreprise:
    get:
      description: "Vous devez fournir soit le SIREN, soit le SIRET. Si vous indiquez\
        \ le SIREN, tous les établissements associés à ce SIREN seront renvoyés dans\
        \ la clé `etablissements`. Si vous indiquez le SIRET, seul l'établissement\
        \ associé sera renvoyé dans la clé `etablissement`."
      operationId: entreprise
      parameters:
      - description: SIREN de l'entreprise
        explode: true
        in: query
        name: siren
        required: false
        schema:
          example: "443061841"
          type: string
        style: form
      - description: SIRET de l'entreprise
        explode: true
        in: query
        name: siret
        required: false
        schema:
          example: "44306184100047"
          type: string
        style: form
      - description: "Si vrai et si l'entreprise est en diffusion partielle, le retour\
          \ renverra les informations partielles disponibles. Valeur par défaut :\
          \ `false`."
        explode: true
        in: query
        name: integrer_diffusions_partielles
        required: false
        schema:
          type: boolean
        style: form
      - description: "Format attendu pour les publications BODACC. Valeur par défaut\
          \ : `\"objet\"`."
        explode: true
        in: query
        name: format_publications_bodacc
        required: false
        schema:
          enum:
          - objet
          - texte
          example: objet
          type: string
        style: form
      - description: "Si vrai, le retour inclura les marques éventuelles de l'entreprise.\
          \ Valeur par défaut : `false`."
        explode: true
        in: query
        name: marques
        required: false
        schema:
          type: boolean
        style: form
      - description: "Si vrai, le champ validite_tva_intracommunautaire du retour\
          \ indiquera si le numéro de tva est valide auprès de la Commission europé\
          enne. Valeur par défaut : `false`."
        explode: true
        in: query
        name: validite_tva_intracommunautaire
        required: false
        schema:
          type: boolean
        style: form
      - description: "Pappers traite les publications BODACC afin de supprimer les\
          \ publications périmée. Si vrai, le retour inclura les publications bodacc\
          \ sans traitement. Valeur par défaut : `false`."
        explode: true
        in: query
        name: publications_bodacc_brutes
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          Liste des champs supplémentaires à inclure dans le retour. Certains champs peuvent entraîner une consommation de jetons supplémentaires.

          Champs supplémentaires disponibles :
          - `sites_internet` : 1 jeton supplémentaire
          - `telephone` : 1 jeton supplémentaire *
          - `email` : 1 jeton supplémentaire *
          - `enseigne_1` : gratuit
          - `enseigne_2` : gratuit
          - `enseigne_3` : gratuit
          - `distribution_speciale` : gratuit
          - `code_cedex` : gratuit
          - `libelle_cedex` : gratuit
          - `code_commune` : gratuit
          - `code_region` : gratuit
          - `region` : gratuit
          - `code_departement` : gratuit
          - `departement` : gratuit
          - `nomenclature_code_naf` : gratuit
          - `labels` : gratuit
          - `labels:orias` : 0.5 jeton supplémentaire
          - `labels:cci` : 0.5 jeton supplémentaire
          - `micro_entreprise` : gratuit
          - `sanctions` : 1 jeton supplémentaire
          - `personne_politiquement_exposee` : 1 jeton supplémentaire
          - `deces` : 0.5 jeton supplémentaire
          - `scoring_financier` : 30 jetons supplémentaires
          - `scoring_non_financier` : 30 jetons supplémentaires
          - `categorie_entreprise` : gratuit

          \* : le coût des champs `telephone` et `email` est de 1 jeton supplémentaire au total, même si les deux sont demandés.
        explode: true
        in: query
        name: champs_supplementaires
        required: false
        schema:
          example: "site_internet,telephone"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntrepriseFiche'
          description: Entreprise trouvée. Le retour contient un objet décrivant l'entreprise.
        "206":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntrepriseFiche'
          description: "Entreprise trouvée. Le retour est cependant partiel : au moins\
            \ une source de données n'a pas répondu dans le temps imparti."
        "400":
          description: Paramètres de la requête incorrects.
        "401":
          description: Clé API incorrecte.
        "404":
          description: Entreprise inexistante.
      summary: Récupère l'ensemble des informations disponibles sur une entreprise.
      tags:
      - Fiche entreprise
  /association:
    get:
      description: "Vous devez fournir soit l'identifiant de l'association, soit le\
        \ SIREN, soit le SIRET."
      operationId: association
      parameters:
      - description: Identifiant de l'association
        explode: true
        in: query
        name: id_association
        required: false
        schema:
          example: W142005389
          type: string
        style: form
      - description: SIRET de l'association
        explode: true
        in: query
        name: siret
        required: false
        schema:
          example: "95037097300014"
          type: string
        style: form
      - description: SIREN de l'association
        explode: true
        in: query
        name: siren
        required: false
        schema:
          example: "950370973"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Association'
          description: Association trouvée. Le retour contient un objet décrivant
            l'association.
        "400":
          description: Paramètres de la requête incorrects.
        "401":
          description: Clé API incorrecte.
        "404":
          description: Association inexistante.
        "503":
          description: Service momentanément indisponible.
      summary: Récupère l'ensemble des informations disponibles sur une association.
      tags:
      - Fiche association
  /recherche:
    get:
      description: |
        Tous les paramètres sont optionnels et servent à filtrer la recherche. Les différentes entreprises seront renvoyées dans un tableau `resultats`, et le nombre total de résultats sera renvoyé dans le champ `total`.

        Pour parcourir l'ensemble des résultats, deux solutions sont possibles :

        - La pagination (paramètres `page` et `par_page`), limitée aux 400 premiers résultats ;
        - Les curseurs (paramètres `curseur` et `par_curseur`).
      operationId: recherche
      parameters:
      - description: "Page de résultats. Valeur par défaut : `1`."
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: "Nombre de résultats affichés sur une page. Valeur par défaut\
          \ : `10`."
        explode: true
        in: query
        name: par_page
        required: false
        schema:
          example: 20
          type: integer
        style: form
      - description: "Curseur servant à parcourir l'ensemble des résultats (alternativement\
          \ à la pagination qui est limitée à 400 résultats maximum). Doit valoir\
          \ `*` pour la première requête, et doit pour les requêtes suivantes reprendre\
          \ la valeur `curseurSuivant` retournée par la dernière réponse."
        explode: true
        in: query
        name: curseur
        required: false
        schema:
          example: '*'
          type: string
        style: form
      - description: "Nombre de résultats affichés par curseur. Valeur par défaut\
          \ : `50`. Valeur minimale: `1`. Valeur maximale : `1000`."
        explode: true
        in: query
        name: par_curseur
        required: false
        schema:
          example: 20
          type: integer
        style: form
      - description: "Bases de données dans lesquelles rechercher. Il est possible\
          \ d'indiquer plusieurs bases en les séparant par des virgules. Valeur par\
          \ défaut : `\"entreprises\"`."
        explode: true
        in: query
        name: bases
        required: false
        schema:
          enum:
          - entreprises
          - dirigeants
          - beneficiaires
          - documents
          - publications
          example: entreprises
          type: string
        style: form
      - description: "Niveau de précision de la recherche. Valeur par défaut : `\"\
          standard\"`."
        explode: true
        in: query
        name: precision
        required: false
        schema:
          enum:
          - approximative
          - standard
          - exacte
          example: standard
          type: string
        style: form
      - description: |-
          Texte à rechercher. Dénomination pour une personne morale, nom et prénom pour une personne physique.
          Si vous recherchez dans plusieurs bases, ce paramètre sera utilisé pour rechercher dans toutes les bases.
        explode: true
        in: query
        name: q
        required: false
        schema:
          example: Google France
          type: string
        style: form
      - description: Défini si la requête se base sur le siège
        explode: true
        in: query
        name: siege
        required: false
        schema:
          example: "true"
          type: string
        style: form
      - description: Code NAF de l'entreprise. Il est possible d'indiquer plusieurs
          codes NAF en les séparant par des virgules.
        explode: true
        in: query
        name: code_naf
        required: false
        schema:
          example: 70.10Z
          type: string
        style: form
      - description: Numéro de département de l'un des établissements de l'entreprise.
          Il est possible d'indiquer plusieurs départements en les séparant par des
          virgules.
        explode: true
        in: query
        name: departement
        required: false
        schema:
          example: "75"
          type: string
        style: form
      - description: "Code de la région de l'un des établissements de l'entreprise,\
          \ selon la [nomenclature Insee](https://www.insee.fr/fr/information/4316069#titre-bloc-18).\
          \ Il est possible d'indiquer plusieurs codes régions en les séparant par\
          \ des virgules."
        explode: true
        in: query
        name: region
        required: false
        schema:
          example: "11"
          type: string
        style: form
      - description: Code postal de l'un des établissements de l'entreprise. Il est
          possible d'indiquer plusieurs codes postaux en les séparant par des virgules.
        explode: true
        in: query
        name: code_postal
        required: false
        schema:
          example: "75009"
          type: string
        style: form
      - description: Convention collective de l'entreprise.
        explode: true
        in: query
        name: convention_collective
        required: false
        schema:
          example: "1486"
          type: string
        style: form
      - description: "Catégorie juridique de l'entreprise, selon la [nomenclature\
          \ Insee](https://www.insee.fr/fr/information/2028129). \n\n**Note** : Le\
          \ code correspond à celui de l'INSEE, à l'exception des SASU qui auront\
          \ comme code 5720 et les EURL qui auront comme code 5498."
        explode: true
        in: query
        name: categorie_juridique
        required: false
        schema:
          example: "5499"
          type: string
        style: form
      - description: Activité de l'entreprise cessée ou non.
        explode: true
        in: query
        name: entreprise_cessee
        required: false
        schema:
          example: false
          type: boolean
        style: form
      - description: Statut au RCS
        explode: true
        in: query
        name: statut_rcs
        required: false
        schema:
          enum:
          - inscrit
          - radie
          - non inscrit
          example: inscrit
          type: string
        style: form
      - description: Objet social de l'entreprise déclaré au RCS.
        explode: true
        in: query
        name: objet_social
        required: false
        schema:
          example: La conception de moteurs de recherche sur internet.
          type: string
        style: form
      - description: "Date d'immatriculation au RCS minimale de l'entreprise, au format\
          \ JJ-MM-AAAA."
        explode: true
        in: query
        name: date_immatriculation_rcs_min
        required: false
        schema:
          example: 15-05-2002
          type: string
        style: form
      - description: "d'immatriculation au RCS minimale de l'entreprise, au format\
          \ JJ-MM-AAAA."
        explode: true
        in: query
        name: date_immatriculation_rcs_max
        required: false
        schema:
          example: 15-05-2002
          type: string
        style: form
      - description: "Date de radiation au RCS minimale de l'entreprise, au format\
          \ JJ-MM-AAAA."
        explode: true
        in: query
        name: date_radiation_rcs_min
        required: false
        schema:
          example: 15-05-2002
          type: string
        style: form
      - description: "Date de radiation au RCS maximale de l'entreprise, au format\
          \ JJ-MM-AAAA."
        explode: true
        in: query
        name: date_radiation_rcs_max
        required: false
        schema:
          example: 17-05-2002
          type: string
        style: form
      - description: Capital minimum de l'entreprise.
        explode: true
        in: query
        name: capital_min
        required: false
        schema:
          example: "411016200"
          type: string
        style: form
      - description: Capital maximum de l'entreprise.
        explode: true
        in: query
        name: capital_max
        required: false
        schema:
          example: "411016400"
          type: string
        style: form
      - description: |-
          Chiffre d'affaires minimum de l'entreprise.

          **Note** : Filtrer sur ce critère restreint énormément les entreprises retournées car cela élimine d'office toutes les entreprises dont les comptes ne sont pas publiés.
        explode: true
        in: query
        name: chiffre_affaires_min
        required: false
        schema:
          example: "411016200"
          type: string
        style: form
      - description: |-
          Chiffre d'affaires maximum de l'entreprise.

          **Note** : Filtrer sur ce critère restreint énormément les entreprises retournées car cela élimine d'office toutes les entreprises dont les comptes ne sont pas publiés.
        explode: true
        in: query
        name: chiffre_affaires_max
        required: false
        schema:
          example: "411016400"
          type: string
        style: form
      - description: |-
          Résultat minimum de l'entreprise.

          **Note** : Filtrer sur ce critère restreint énormément les entreprises retournées car cela élimine d'office toutes les entreprises dont les comptes ne sont pas publiés.
        explode: true
        in: query
        name: resultat_min
        required: false
        schema:
          example: "29327000"
          type: string
        style: form
      - description: |-
          Résultat maximum de l'entreprise.

          **Note** : Filtrer sur ce critère restreint énormément les entreprises retournées car cela élimine d'office toutes les entreprises dont les comptes ne sont pas publiés.
        explode: true
        in: query
        name: resultat_max
        required: false
        schema:
          example: "29327100"
          type: string
        style: form
      - description: "Date de création minimale de l'entreprise, au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_creation_min
        required: false
        schema:
          example: 15-05-2002
          type: string
        style: form
      - description: "Date de création maximale de l'entreprise, au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_creation_max
        required: false
        schema:
          example: 17-05-2002
          type: string
        style: form
      - description: |-
          Tranche d'effectifs minimale de l'entreprise, selon la [nomenclature Sirene](https://www.sirene.fr/static-resources/documentation/v_sommaire_311.htm#73).

          **Note** : 00 ou NN donneront les mêmes résultats et veulent dire non employeur
        explode: true
        in: query
        name: tranche_effectif_min
        required: false
        schema:
          example: "40"
          type: string
        style: form
      - description: |-
          Tranche d'effectifs maximale de l'entreprise, selon la [nomenclature Sirene](https://www.sirene.fr/static-resources/documentation/v_sommaire_311.htm#73).

          **Note** : 00 ou NN donneront les mêmes résultats et veulent dire non employeur
        explode: true
        in: query
        name: tranche_effectif_max
        required: false
        schema:
          example: "42"
          type: string
        style: form
      - description: Type du dirigeant (ou de l'un des dirigeants de l'entreprise
          pour une recherche d'entreprises).
        explode: true
        in: query
        name: type_dirigeant
        required: false
        schema:
          enum:
          - physique
          - morale
          example: physique
          type: string
        style: form
      - description: Qualité du dirigeant (ou de l'un des dirigeants de l'entreprise
          pour une recherche d'entreprises).
        explode: true
        in: query
        name: qualite_dirigeant
        required: false
        schema:
          example: Administrateur
          type: string
        style: form
      - description: Nationalité du dirigeant (ou de l'un des dirigeants de l'entreprise
          pour une recherche d'entreprises).
        explode: true
        in: query
        name: nationalite_dirigeant
        required: false
        schema:
          example: Française
          type: string
        style: form
      - description: Nom du dirigeant (ou de l'un des dirigeants de l'entreprise pour
          une recherche d'entreprises).
        explode: true
        in: query
        name: nom_dirigeant
        required: false
        schema:
          example: Yi
          type: string
        style: form
      - description: Prénom du dirigeant (ou de l'un des dirigeants de l'entreprise
          pour une recherche d'entreprises).
        explode: true
        in: query
        name: prenom_dirigeant
        required: false
        schema:
          example: Kenneth H.
          type: string
        style: form
      - description: Âge minimal du dirigeant (ou de l'un des dirigeants de l'entreprise
          pour une recherche d'entreprises).
        explode: true
        in: query
        name: age_dirigeant_min
        required: false
        schema:
          example: 40
          type: integer
        style: form
      - description: Âge maximal du dirigeant (ou de l'un des dirigeants de l'entreprise
          pour une recherche d'entreprises).
        explode: true
        in: query
        name: age_dirigeant_max
        required: false
        schema:
          example: 42
          type: integer
        style: form
      - description: "Date de naissance minimale du dirigeant (ou de l'un des dirigeants\
          \ de l'entreprise pour une recherche d'entreprises), au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_de_naissance_dirigeant_min
        required: false
        schema:
          example: 0006-05-24
          format: date
          type: string
        style: form
      - description: "Date de naissance maximale du dirigeant (ou de l'un des dirigeants\
          \ de l'entreprise pour une recherche d'entreprises) de l'entreprise, au\
          \ format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_de_naissance_dirigeant_max
        required: false
        schema:
          example: 0006-05-24
          format: date
          type: string
        style: form
      - description: Âge minimal du bénéficiaire effectif (ou de l'un des bénéficiaires
          effectifs de l'entreprise pour une recherche d'entreprises).
        explode: true
        in: query
        name: age_beneficiaire_min
        required: false
        schema:
          example: 40
          type: integer
        style: form
      - description: Âge maximal du bénéficiaire effectif (ou de l'un des bénéficiaires
          effectifs de l'entreprise pour une recherche d'entreprises).
        explode: true
        in: query
        name: age_beneficiaire_max
        required: false
        schema:
          example: 42
          type: integer
        style: form
      - description: "Date de naissance minimale du bénéficiaire effectif (ou de l'un\
          \ des bénéficiaires effectifs de l'entreprise pour une recherche d'entreprises),\
          \ au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_de_naissance_beneficiaire_min
        required: false
        schema:
          example: 0006-05-24
          format: date
          type: string
        style: form
      - description: "Date de naissance maximale du bénéficiaire effectif (ou de l'un\
          \ des bénéficiaires effectifs de l'entreprise pour une recherche d'entreprises)\
          \ de l'entreprise, au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_de_naissance_beneficiaire_max
        required: false
        schema:
          example: 0037-04-22
          format: date
          type: string
        style: form
      - description: Nationalité du bénéficiaire effectif (ou de l'un des bénéficiaires
          effectifs de l'entreprise pour une recherche d'entreprises).
        explode: true
        in: query
        name: nationalite_beneficiaire
        required: false
        schema:
          example: Française
          type: string
        style: form
      - description: "Date de dépôt minimale du document, au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_depot_document_min
        required: false
        schema:
          example: 0006-06-23
          format: date
          type: string
        style: form
      - description: "Date de dépôt maximale du document, au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_depot_document_max
        required: false
        schema:
          example: 0006-06-23
          format: date
          type: string
        style: form
      - description: Type de publication
        explode: true
        in: query
        name: type_publication
        required: false
        schema:
          enum:
          - Création
          - Immatriculation
          - Modification
          - Vente
          - Radiation
          - Procédure collective
          - Dépôt des comptes
          example: Procédure collective
          type: string
        style: form
      - description: "Date publication minimale de la publication, au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_publication_min
        required: false
        schema:
          example: 0006-06-23
          format: date
          type: string
        style: form
      - description: "Date de publication maximale de la publication, au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_publication_max
        required: false
        schema:
          example: 0006-06-23
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/recherche_200_response'
          description: Recherche réussie. Le retour contient la liste des entreprises
            qui répondent aux critères indiqués.
        "401":
          description: Clé API incorrecte.
        "404":
          description: Aucune entreprise ne correspond aux critères indiqués.
        "503":
          description: Service momentanément indisponible.
      summary: Recherche les entreprises qui correspondent à des critères.
      tags:
      - Recherche
  /recherche-dirigeants:
    get:
      description: Tous les paramètres sont optionnels et servent à filtrer la recherche.
        Les différents dirigeants seront renvoyées dans un tableau `resultats`.
      operationId: recherche-dirigeants
      parameters:
      - description: "Nombre de résultats affichés sur une page. Valeur par défaut\
          \ : `10`."
        explode: true
        in: query
        name: par_page
        required: false
        schema:
          example: 20
          type: integer
        style: form
      - description: "Page de résultats. Valeur par défaut : `1`."
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: "Niveau de précision de la recherche. Valeur par défaut : `\"\
          standard\"`."
        explode: true
        in: query
        name: precision
        required: false
        schema:
          enum:
          - approximative
          - standard
          - exacte
          example: standard
          type: string
        style: form
      - description: "Texte à rechercher. Nom et prénom du dirigeant pour une personne\
          \ physique, dénomination pour une personne morale."
        explode: true
        in: query
        name: q
        required: false
        schema:
          example: Google France
          type: string
        style: form
      - description: Type du dirigeant (ou de l'un des dirigeants de l'entreprise
          pour une recherche d'entreprises).
        explode: true
        in: query
        name: type_dirigeant
        required: false
        schema:
          enum:
          - physique
          - morale
          example: physique
          type: string
        style: form
      - description: Qualité du dirigeant (ou de l'un des dirigeants de l'entreprise
          pour une recherche d'entreprises).
        explode: true
        in: query
        name: qualite_dirigeant
        required: false
        schema:
          example: Administrateur
          type: string
        style: form
      - description: Nationalité du dirigeant (ou de l'un des dirigeants de l'entreprise
          pour une recherche d'entreprises).
        explode: true
        in: query
        name: nationalite_dirigeant
        required: false
        schema:
          example: Française
          type: string
        style: form
      - description: Nom du dirigeant (ou de l'un des dirigeants de l'entreprise pour
          une recherche d'entreprises).
        explode: true
        in: query
        name: nom_dirigeant
        required: false
        schema:
          example: Yi
          type: string
        style: form
      - description: Prénom du dirigeant (ou de l'un des dirigeants de l'entreprise
          pour une recherche d'entreprises).
        explode: true
        in: query
        name: prenom_dirigeant
        required: false
        schema:
          example: Kenneth H.
          type: string
        style: form
      - description: Âge minimal du dirigeant (ou de l'un des dirigeants de l'entreprise
          pour une recherche d'entreprises).
        explode: true
        in: query
        name: age_dirigeant_min
        required: false
        schema:
          example: 40
          type: integer
        style: form
      - description: Âge maximal du dirigeant (ou de l'un des dirigeants de l'entreprise
          pour une recherche d'entreprises).
        explode: true
        in: query
        name: age_dirigeant_max
        required: false
        schema:
          example: 42
          type: integer
        style: form
      - description: "Date de naissance minimale du dirigeant (ou de l'un des dirigeants\
          \ de l'entreprise pour une recherche d'entreprises), au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_de_naissance_dirigeant_min
        required: false
        schema:
          example: 0006-05-24
          format: date
          type: string
        style: form
      - description: "Date de naissance maximale du dirigeant (ou de l'un des dirigeants\
          \ de l'entreprise pour une recherche d'entreprises) de l'entreprise, au\
          \ format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_de_naissance_dirigeant_max
        required: false
        schema:
          example: 0006-05-24
          format: date
          type: string
        style: form
      - description: Code NAF de l'entreprise. Il est possible d'indiquer plusieurs
          codes NAF en les séparant par des virgules.
        explode: true
        in: query
        name: code_naf
        required: false
        schema:
          example: 70.10Z
          type: string
        style: form
      - description: Numéro de département de l'un des établissements de l'entreprise.
          Il est possible d'indiquer plusieurs départements en les séparant par des
          virgules.
        explode: true
        in: query
        name: departement
        required: false
        schema:
          example: "75"
          type: string
        style: form
      - description: "Code de la région de l'un des établissements de l'entreprise,\
          \ selon la [nomenclature Insee](https://www.insee.fr/fr/information/4316069#titre-bloc-18).\
          \ Il est possible d'indiquer plusieurs codes régions en les séparant par\
          \ des virgules."
        explode: true
        in: query
        name: region
        required: false
        schema:
          example: "11"
          type: string
        style: form
      - description: Code postal de l'un des établissements de l'entreprise. Il est
          possible d'indiquer plusieurs codes postaux en les séparant par des virgules.
        explode: true
        in: query
        name: code_postal
        required: false
        schema:
          example: "75009"
          type: string
        style: form
      - description: Convention collective de l'entreprise.
        explode: true
        in: query
        name: convention_collective
        required: false
        schema:
          example: "1486"
          type: string
        style: form
      - description: "Catégorie juridique de l'entreprise, selon la [nomenclature\
          \ Insee](https://www.insee.fr/fr/information/2028129). \n\n**Note** : Le\
          \ code correspond à celui de l'INSEE, à l'exception des SASU qui auront\
          \ comme code 5720 et les EURL qui auront comme code 5498."
        explode: true
        in: query
        name: categorie_juridique
        required: false
        schema:
          example: "5499"
          type: string
        style: form
      - description: Activité de l'entreprise cessée ou non.
        explode: true
        in: query
        name: entreprise_cessee
        required: false
        schema:
          example: false
          type: boolean
        style: form
      - description: Statut au RCS
        explode: true
        in: query
        name: statut_rcs
        required: false
        schema:
          enum:
          - inscrit
          - radie
          - non inscrit
          example: inscrit
          type: string
        style: form
      - description: Objet social de l'entreprise déclaré au RCS.
        explode: true
        in: query
        name: objet_social
        required: false
        schema:
          example: La conception de moteurs de recherche sur internet.
          type: string
        style: form
      - description: "Date d'immatriculation au RCS minimale de l'entreprise, au format\
          \ JJ-MM-AAAA."
        explode: true
        in: query
        name: date_immatriculation_rcs_min
        required: false
        schema:
          example: 15-05-2002
          type: string
        style: form
      - description: "d'immatriculation au RCS minimale de l'entreprise, au format\
          \ JJ-MM-AAAA."
        explode: true
        in: query
        name: date_immatriculation_rcs_max
        required: false
        schema:
          example: 15-05-2002
          type: string
        style: form
      - description: "Date de radiation au RCS minimale de l'entreprise, au format\
          \ JJ-MM-AAAA."
        explode: true
        in: query
        name: date_radiation_rcs_min
        required: false
        schema:
          example: 15-05-2002
          type: string
        style: form
      - description: "Date de radiation au RCS maximale de l'entreprise, au format\
          \ JJ-MM-AAAA."
        explode: true
        in: query
        name: date_radiation_rcs_max
        required: false
        schema:
          example: 17-05-2002
          type: string
        style: form
      - description: Capital minimum de l'entreprise.
        explode: true
        in: query
        name: capital_min
        required: false
        schema:
          example: "411016200"
          type: string
        style: form
      - description: Capital maximum de l'entreprise.
        explode: true
        in: query
        name: capital_max
        required: false
        schema:
          example: "411016400"
          type: string
        style: form
      - description: |-
          Chiffre d'affaires minimum de l'entreprise.

          **Note** : Filtrer sur ce critère restreint énormément les entreprises retournées car cela élimine d'office toutes les entreprises dont les comptes ne sont pas publiés.
        explode: true
        in: query
        name: chiffre_affaires_min
        required: false
        schema:
          example: "411016200"
          type: string
        style: form
      - description: |-
          Chiffre d'affaires maximum de l'entreprise.

          **Note** : Filtrer sur ce critère restreint énormément les entreprises retournées car cela élimine d'office toutes les entreprises dont les comptes ne sont pas publiés.
        explode: true
        in: query
        name: chiffre_affaires_max
        required: false
        schema:
          example: "411016400"
          type: string
        style: form
      - description: |-
          Résultat minimum de l'entreprise.

          **Note** : Filtrer sur ce critère restreint énormément les entreprises retournées car cela élimine d'office toutes les entreprises dont les comptes ne sont pas publiés.
        explode: true
        in: query
        name: resultat_min
        required: false
        schema:
          example: "29327000"
          type: string
        style: form
      - description: |-
          Résultat maximum de l'entreprise.

          **Note** : Filtrer sur ce critère restreint énormément les entreprises retournées car cela élimine d'office toutes les entreprises dont les comptes ne sont pas publiés.
        explode: true
        in: query
        name: resultat_max
        required: false
        schema:
          example: "29327100"
          type: string
        style: form
      - description: "Date de création minimale de l'entreprise, au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_creation_min
        required: false
        schema:
          example: 15-05-2002
          type: string
        style: form
      - description: "Date de création maximale de l'entreprise, au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_creation_max
        required: false
        schema:
          example: 17-05-2002
          type: string
        style: form
      - description: |-
          Tranche d'effectifs minimale de l'entreprise, selon la [nomenclature Sirene](https://www.sirene.fr/static-resources/documentation/v_sommaire_311.htm#73).

          **Note** : 00 ou NN donneront les mêmes résultats et veulent dire non employeur
        explode: true
        in: query
        name: tranche_effectif_min
        required: false
        schema:
          example: "40"
          type: string
        style: form
      - description: |-
          Tranche d'effectifs maximale de l'entreprise, selon la [nomenclature Sirene](https://www.sirene.fr/static-resources/documentation/v_sommaire_311.htm#73).

          **Note** : 00 ou NN donneront les mêmes résultats et veulent dire non employeur
        explode: true
        in: query
        name: tranche_effectif_max
        required: false
        schema:
          example: "42"
          type: string
        style: form
      - description: Âge minimal du bénéficiaire effectif (ou de l'un des bénéficiaires
          effectifs de l'entreprise pour une recherche d'entreprises).
        explode: true
        in: query
        name: age_beneficiaire_min
        required: false
        schema:
          example: 40
          type: integer
        style: form
      - description: Âge maximal du bénéficiaire effectif (ou de l'un des bénéficiaires
          effectifs de l'entreprise pour une recherche d'entreprises).
        explode: true
        in: query
        name: age_beneficiaire_max
        required: false
        schema:
          example: 42
          type: integer
        style: form
      - description: "Date de naissance minimale du bénéficiaire effectif (ou de l'un\
          \ des bénéficiaires effectifs de l'entreprise pour une recherche d'entreprises),\
          \ au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_de_naissance_beneficiaire_min
        required: false
        schema:
          example: 0006-05-24
          format: date
          type: string
        style: form
      - description: "Date de naissance maximale du bénéficiaire effectif (ou de l'un\
          \ des bénéficiaires effectifs de l'entreprise pour une recherche d'entreprises)\
          \ de l'entreprise, au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_de_naissance_beneficiaire_max
        required: false
        schema:
          example: 0037-04-22
          format: date
          type: string
        style: form
      - description: Nationalité du bénéficiaire effectif (ou de l'un des bénéficiaires
          effectifs de l'entreprise pour une recherche d'entreprises).
        explode: true
        in: query
        name: nationalite_beneficiaire
        required: false
        schema:
          example: Française
          type: string
        style: form
      - description: "Date de dépôt minimale du document, au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_depot_document_min
        required: false
        schema:
          example: 0006-06-23
          format: date
          type: string
        style: form
      - description: "Date de dépôt maximale du document, au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_depot_document_max
        required: false
        schema:
          example: 0006-06-23
          format: date
          type: string
        style: form
      - description: Type de publication
        explode: true
        in: query
        name: type_publication
        required: false
        schema:
          enum:
          - Création
          - Immatriculation
          - Modification
          - Vente
          - Radiation
          - Procédure collective
          - Dépôt des comptes
          example: Procédure collective
          type: string
        style: form
      - description: "Date publication minimale de la publication, au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_publication_min
        required: false
        schema:
          example: 0006-06-23
          format: date
          type: string
        style: form
      - description: "Date de publication maximale de la publication, au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_publication_max
        required: false
        schema:
          example: 0006-06-23
          format: date
          type: string
        style: form
      - description: SIREN de l'entreprise.
        explode: true
        in: query
        name: siren
        required: false
        schema:
          type: string
          example: null
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/recherche_dirigeants_200_response'
          description: Recherche réussie. Le retour contient la liste des dirigeants
            qui répondent aux critères indiqués.
        "401":
          description: Clé API incorrecte.
        "404":
          description: Aucun dirigeant ne correspond aux critères indiqués.
        "503":
          description: Service momentanément indisponible.
      summary: Recherche les dirigeants qui correspondent à des critères.
      tags:
      - Recherche
  /recherche-beneficiaires:
    get:
      description: Tous les paramètres sont optionnels et servent à filtrer la recherche.
        Les différents bénéficiaires effectifs seront renvoyées dans un tableau `resultats`.
      operationId: recherche-beneficiaires
      parameters:
      - description: "Nombre de résultats affichés sur une page. Valeur par défaut\
          \ : `10`."
        explode: true
        in: query
        name: par_page
        required: false
        schema:
          example: 20
          type: integer
        style: form
      - description: "Page de résultats. Valeur par défaut : `1`."
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: "Niveau de précision de la recherche. Valeur par défaut : `\"\
          standard\"`."
        explode: true
        in: query
        name: precision
        required: false
        schema:
          enum:
          - approximative
          - standard
          - exacte
          example: standard
          type: string
        style: form
      - description: Nom et/ou prénom du bénéficiaire effectif.
        explode: true
        in: query
        name: q
        required: false
        schema:
          example: Xavier Niel
          type: string
        style: form
      - description: Âge minimal du bénéficiaire effectif (ou de l'un des bénéficiaires
          effectifs de l'entreprise pour une recherche d'entreprises).
        explode: true
        in: query
        name: age_beneficiaire_min
        required: false
        schema:
          example: 40
          type: integer
        style: form
      - description: Âge maximal du bénéficiaire effectif (ou de l'un des bénéficiaires
          effectifs de l'entreprise pour une recherche d'entreprises).
        explode: true
        in: query
        name: age_beneficiaire_max
        required: false
        schema:
          example: 42
          type: integer
        style: form
      - description: "Date de naissance minimale du bénéficiaire effectif (ou de l'un\
          \ des bénéficiaires effectifs de l'entreprise pour une recherche d'entreprises),\
          \ au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_de_naissance_beneficiaire_min
        required: false
        schema:
          example: 0006-05-24
          format: date
          type: string
        style: form
      - description: "Date de naissance maximale du bénéficiaire effectif (ou de l'un\
          \ des bénéficiaires effectifs de l'entreprise pour une recherche d'entreprises)\
          \ de l'entreprise, au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_de_naissance_beneficiaire_max
        required: false
        schema:
          example: 0037-04-22
          format: date
          type: string
        style: form
      - description: Nationalité du bénéficiaire effectif (ou de l'un des bénéficiaires
          effectifs de l'entreprise pour une recherche d'entreprises).
        explode: true
        in: query
        name: nationalite_beneficiaire
        required: false
        schema:
          example: Française
          type: string
        style: form
      - description: Code NAF de l'entreprise. Il est possible d'indiquer plusieurs
          codes NAF en les séparant par des virgules.
        explode: true
        in: query
        name: code_naf
        required: false
        schema:
          example: 70.10Z
          type: string
        style: form
      - description: Numéro de département de l'un des établissements de l'entreprise.
          Il est possible d'indiquer plusieurs départements en les séparant par des
          virgules.
        explode: true
        in: query
        name: departement
        required: false
        schema:
          example: "75"
          type: string
        style: form
      - description: "Code de la région de l'un des établissements de l'entreprise,\
          \ selon la [nomenclature Insee](https://www.insee.fr/fr/information/4316069#titre-bloc-18).\
          \ Il est possible d'indiquer plusieurs codes régions en les séparant par\
          \ des virgules."
        explode: true
        in: query
        name: region
        required: false
        schema:
          example: "11"
          type: string
        style: form
      - description: Code postal de l'un des établissements de l'entreprise. Il est
          possible d'indiquer plusieurs codes postaux en les séparant par des virgules.
        explode: true
        in: query
        name: code_postal
        required: false
        schema:
          example: "75009"
          type: string
        style: form
      - description: Convention collective de l'entreprise.
        explode: true
        in: query
        name: convention_collective
        required: false
        schema:
          example: "1486"
          type: string
        style: form
      - description: "Catégorie juridique de l'entreprise, selon la [nomenclature\
          \ Insee](https://www.insee.fr/fr/information/2028129). \n\n**Note** : Le\
          \ code correspond à celui de l'INSEE, à l'exception des SASU qui auront\
          \ comme code 5720 et les EURL qui auront comme code 5498."
        explode: true
        in: query
        name: categorie_juridique
        required: false
        schema:
          example: "5499"
          type: string
        style: form
      - description: Activité de l'entreprise cessée ou non.
        explode: true
        in: query
        name: entreprise_cessee
        required: false
        schema:
          example: false
          type: boolean
        style: form
      - description: Statut au RCS
        explode: true
        in: query
        name: statut_rcs
        required: false
        schema:
          enum:
          - inscrit
          - radie
          - non inscrit
          example: inscrit
          type: string
        style: form
      - description: Objet social de l'entreprise déclaré au RCS.
        explode: true
        in: query
        name: objet_social
        required: false
        schema:
          example: La conception de moteurs de recherche sur internet.
          type: string
        style: form
      - description: "Date d'immatriculation au RCS minimale de l'entreprise, au format\
          \ JJ-MM-AAAA."
        explode: true
        in: query
        name: date_immatriculation_rcs_min
        required: false
        schema:
          example: 15-05-2002
          type: string
        style: form
      - description: "d'immatriculation au RCS minimale de l'entreprise, au format\
          \ JJ-MM-AAAA."
        explode: true
        in: query
        name: date_immatriculation_rcs_max
        required: false
        schema:
          example: 15-05-2002
          type: string
        style: form
      - description: "Date de radiation au RCS minimale de l'entreprise, au format\
          \ JJ-MM-AAAA."
        explode: true
        in: query
        name: date_radiation_rcs_min
        required: false
        schema:
          example: 15-05-2002
          type: string
        style: form
      - description: "Date de radiation au RCS maximale de l'entreprise, au format\
          \ JJ-MM-AAAA."
        explode: true
        in: query
        name: date_radiation_rcs_max
        required: false
        schema:
          example: 17-05-2002
          type: string
        style: form
      - description: Capital minimum de l'entreprise.
        explode: true
        in: query
        name: capital_min
        required: false
        schema:
          example: "411016200"
          type: string
        style: form
      - description: Capital maximum de l'entreprise.
        explode: true
        in: query
        name: capital_max
        required: false
        schema:
          example: "411016400"
          type: string
        style: form
      - description: |-
          Chiffre d'affaires minimum de l'entreprise.

          **Note** : Filtrer sur ce critère restreint énormément les entreprises retournées car cela élimine d'office toutes les entreprises dont les comptes ne sont pas publiés.
        explode: true
        in: query
        name: chiffre_affaires_min
        required: false
        schema:
          example: "411016200"
          type: string
        style: form
      - description: |-
          Chiffre d'affaires maximum de l'entreprise.

          **Note** : Filtrer sur ce critère restreint énormément les entreprises retournées car cela élimine d'office toutes les entreprises dont les comptes ne sont pas publiés.
        explode: true
        in: query
        name: chiffre_affaires_max
        required: false
        schema:
          example: "411016400"
          type: string
        style: form
      - description: |-
          Résultat minimum de l'entreprise.

          **Note** : Filtrer sur ce critère restreint énormément les entreprises retournées car cela élimine d'office toutes les entreprises dont les comptes ne sont pas publiés.
        explode: true
        in: query
        name: resultat_min
        required: false
        schema:
          example: "29327000"
          type: string
        style: form
      - description: |-
          Résultat maximum de l'entreprise.

          **Note** : Filtrer sur ce critère restreint énormément les entreprises retournées car cela élimine d'office toutes les entreprises dont les comptes ne sont pas publiés.
        explode: true
        in: query
        name: resultat_max
        required: false
        schema:
          example: "29327100"
          type: string
        style: form
      - description: "Date de création minimale de l'entreprise, au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_creation_min
        required: false
        schema:
          example: 15-05-2002
          type: string
        style: form
      - description: "Date de création maximale de l'entreprise, au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_creation_max
        required: false
        schema:
          example: 17-05-2002
          type: string
        style: form
      - description: |-
          Tranche d'effectifs minimale de l'entreprise, selon la [nomenclature Sirene](https://www.sirene.fr/static-resources/documentation/v_sommaire_311.htm#73).

          **Note** : 00 ou NN donneront les mêmes résultats et veulent dire non employeur
        explode: true
        in: query
        name: tranche_effectif_min
        required: false
        schema:
          example: "40"
          type: string
        style: form
      - description: |-
          Tranche d'effectifs maximale de l'entreprise, selon la [nomenclature Sirene](https://www.sirene.fr/static-resources/documentation/v_sommaire_311.htm#73).

          **Note** : 00 ou NN donneront les mêmes résultats et veulent dire non employeur
        explode: true
        in: query
        name: tranche_effectif_max
        required: false
        schema:
          example: "42"
          type: string
        style: form
      - description: Type du dirigeant (ou de l'un des dirigeants de l'entreprise
          pour une recherche d'entreprises).
        explode: true
        in: query
        name: type_dirigeant
        required: false
        schema:
          enum:
          - physique
          - morale
          example: physique
          type: string
        style: form
      - description: Qualité du dirigeant (ou de l'un des dirigeants de l'entreprise
          pour une recherche d'entreprises).
        explode: true
        in: query
        name: qualite_dirigeant
        required: false
        schema:
          example: Administrateur
          type: string
        style: form
      - description: Nationalité du dirigeant (ou de l'un des dirigeants de l'entreprise
          pour une recherche d'entreprises).
        explode: true
        in: query
        name: nationalite_dirigeant
        required: false
        schema:
          example: Française
          type: string
        style: form
      - description: Nom du dirigeant (ou de l'un des dirigeants de l'entreprise pour
          une recherche d'entreprises).
        explode: true
        in: query
        name: nom_dirigeant
        required: false
        schema:
          example: Yi
          type: string
        style: form
      - description: Prénom du dirigeant (ou de l'un des dirigeants de l'entreprise
          pour une recherche d'entreprises).
        explode: true
        in: query
        name: prenom_dirigeant
        required: false
        schema:
          example: Kenneth H.
          type: string
        style: form
      - description: Âge minimal du dirigeant (ou de l'un des dirigeants de l'entreprise
          pour une recherche d'entreprises).
        explode: true
        in: query
        name: age_dirigeant_min
        required: false
        schema:
          example: 40
          type: integer
        style: form
      - description: Âge maximal du dirigeant (ou de l'un des dirigeants de l'entreprise
          pour une recherche d'entreprises).
        explode: true
        in: query
        name: age_dirigeant_max
        required: false
        schema:
          example: 42
          type: integer
        style: form
      - description: "Date de naissance minimale du dirigeant (ou de l'un des dirigeants\
          \ de l'entreprise pour une recherche d'entreprises), au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_de_naissance_dirigeant_min
        required: false
        schema:
          example: 0006-05-24
          format: date
          type: string
        style: form
      - description: "Date de naissance maximale du dirigeant (ou de l'un des dirigeants\
          \ de l'entreprise pour une recherche d'entreprises) de l'entreprise, au\
          \ format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_de_naissance_dirigeant_max
        required: false
        schema:
          example: 0006-05-24
          format: date
          type: string
        style: form
      - description: "Date de dépôt minimale du document, au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_depot_document_min
        required: false
        schema:
          example: 0006-06-23
          format: date
          type: string
        style: form
      - description: "Date de dépôt maximale du document, au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_depot_document_max
        required: false
        schema:
          example: 0006-06-23
          format: date
          type: string
        style: form
      - description: Type de publication
        explode: true
        in: query
        name: type_publication
        required: false
        schema:
          enum:
          - Création
          - Immatriculation
          - Modification
          - Vente
          - Radiation
          - Procédure collective
          - Dépôt des comptes
          example: Procédure collective
          type: string
        style: form
      - description: "Date publication minimale de la publication, au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_publication_min
        required: false
        schema:
          example: 0006-06-23
          format: date
          type: string
        style: form
      - description: "Date de publication maximale de la publication, au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_publication_max
        required: false
        schema:
          example: 0006-06-23
          format: date
          type: string
        style: form
      - description: SIREN de l'entreprise.
        explode: true
        in: query
        name: siren
        required: false
        schema:
          type: string
          example: null
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/recherche_beneficiaires_200_response'
          description: Recherche réussie. Le retour contient la liste des bénéficiaires
            effectifs qui répondent aux critères indiqués.
        "401":
          description: Clé API incorrecte.
        "404":
          description: Aucun bénéficiaire effectif ne correspond aux critères indiqués.
        "503":
          description: Service momentanément indisponible.
      summary: Recherche les bénéficiaires effectifs qui correspondent à des critères.
      tags:
      - Recherche
  /recherche-documents:
    get:
      description: Tous les paramètres sont optionnels et servent à filtrer la recherche.
        Les différents documents seront renvoyées dans un tableau `resultats`.
      operationId: recherche-documents
      parameters:
      - description: "Nombre de résultats affichés sur une page. Valeur par défaut\
          \ : `10`."
        explode: true
        in: query
        name: par_page
        required: false
        schema:
          example: 20
          type: integer
        style: form
      - description: "Page de résultats. Valeur par défaut : `1`."
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: "Niveau de précision de la recherche. Valeur par défaut : `\"\
          standard\"`."
        explode: true
        in: query
        name: precision
        required: false
        schema:
          enum:
          - approximative
          - standard
          - exacte
          example: standard
          type: string
        style: form
      - description: Mot-clé à rechercher dans le contenu du document.
        explode: true
        in: query
        name: q
        required: false
        schema:
          example: Rémunération
          type: string
        style: form
      - description: "Date de dépôt minimale du document, au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_depot_document_min
        required: false
        schema:
          example: 0006-06-23
          format: date
          type: string
        style: form
      - description: "Date de dépôt maximale du document, au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_depot_document_max
        required: false
        schema:
          example: 0006-06-23
          format: date
          type: string
        style: form
      - description: Code NAF de l'entreprise. Il est possible d'indiquer plusieurs
          codes NAF en les séparant par des virgules.
        explode: true
        in: query
        name: code_naf
        required: false
        schema:
          example: 70.10Z
          type: string
        style: form
      - description: Numéro de département de l'un des établissements de l'entreprise.
          Il est possible d'indiquer plusieurs départements en les séparant par des
          virgules.
        explode: true
        in: query
        name: departement
        required: false
        schema:
          example: "75"
          type: string
        style: form
      - description: "Code de la région de l'un des établissements de l'entreprise,\
          \ selon la [nomenclature Insee](https://www.insee.fr/fr/information/4316069#titre-bloc-18).\
          \ Il est possible d'indiquer plusieurs codes régions en les séparant par\
          \ des virgules."
        explode: true
        in: query
        name: region
        required: false
        schema:
          example: "11"
          type: string
        style: form
      - description: Code postal de l'un des établissements de l'entreprise. Il est
          possible d'indiquer plusieurs codes postaux en les séparant par des virgules.
        explode: true
        in: query
        name: code_postal
        required: false
        schema:
          example: "75009"
          type: string
        style: form
      - description: Convention collective de l'entreprise.
        explode: true
        in: query
        name: convention_collective
        required: false
        schema:
          example: "1486"
          type: string
        style: form
      - description: "Catégorie juridique de l'entreprise, selon la [nomenclature\
          \ Insee](https://www.insee.fr/fr/information/2028129). \n\n**Note** : Le\
          \ code correspond à celui de l'INSEE, à l'exception des SASU qui auront\
          \ comme code 5720 et les EURL qui auront comme code 5498."
        explode: true
        in: query
        name: categorie_juridique
        required: false
        schema:
          example: "5499"
          type: string
        style: form
      - description: Activité de l'entreprise cessée ou non.
        explode: true
        in: query
        name: entreprise_cessee
        required: false
        schema:
          example: false
          type: boolean
        style: form
      - description: Statut au RCS
        explode: true
        in: query
        name: statut_rcs
        required: false
        schema:
          enum:
          - inscrit
          - radie
          - non inscrit
          example: inscrit
          type: string
        style: form
      - description: Objet social de l'entreprise déclaré au RCS.
        explode: true
        in: query
        name: objet_social
        required: false
        schema:
          example: La conception de moteurs de recherche sur internet.
          type: string
        style: form
      - description: "Date d'immatriculation au RCS minimale de l'entreprise, au format\
          \ JJ-MM-AAAA."
        explode: true
        in: query
        name: date_immatriculation_rcs_min
        required: false
        schema:
          example: 15-05-2002
          type: string
        style: form
      - description: "d'immatriculation au RCS minimale de l'entreprise, au format\
          \ JJ-MM-AAAA."
        explode: true
        in: query
        name: date_immatriculation_rcs_max
        required: false
        schema:
          example: 15-05-2002
          type: string
        style: form
      - description: "Date de radiation au RCS minimale de l'entreprise, au format\
          \ JJ-MM-AAAA."
        explode: true
        in: query
        name: date_radiation_rcs_min
        required: false
        schema:
          example: 15-05-2002
          type: string
        style: form
      - description: "Date de radiation au RCS maximale de l'entreprise, au format\
          \ JJ-MM-AAAA."
        explode: true
        in: query
        name: date_radiation_rcs_max
        required: false
        schema:
          example: 17-05-2002
          type: string
        style: form
      - description: Capital minimum de l'entreprise.
        explode: true
        in: query
        name: capital_min
        required: false
        schema:
          example: "411016200"
          type: string
        style: form
      - description: Capital maximum de l'entreprise.
        explode: true
        in: query
        name: capital_max
        required: false
        schema:
          example: "411016400"
          type: string
        style: form
      - description: |-
          Chiffre d'affaires minimum de l'entreprise.

          **Note** : Filtrer sur ce critère restreint énormément les entreprises retournées car cela élimine d'office toutes les entreprises dont les comptes ne sont pas publiés.
        explode: true
        in: query
        name: chiffre_affaires_min
        required: false
        schema:
          example: "411016200"
          type: string
        style: form
      - description: |-
          Chiffre d'affaires maximum de l'entreprise.

          **Note** : Filtrer sur ce critère restreint énormément les entreprises retournées car cela élimine d'office toutes les entreprises dont les comptes ne sont pas publiés.
        explode: true
        in: query
        name: chiffre_affaires_max
        required: false
        schema:
          example: "411016400"
          type: string
        style: form
      - description: |-
          Résultat minimum de l'entreprise.

          **Note** : Filtrer sur ce critère restreint énormément les entreprises retournées car cela élimine d'office toutes les entreprises dont les comptes ne sont pas publiés.
        explode: true
        in: query
        name: resultat_min
        required: false
        schema:
          example: "29327000"
          type: string
        style: form
      - description: |-
          Résultat maximum de l'entreprise.

          **Note** : Filtrer sur ce critère restreint énormément les entreprises retournées car cela élimine d'office toutes les entreprises dont les comptes ne sont pas publiés.
        explode: true
        in: query
        name: resultat_max
        required: false
        schema:
          example: "29327100"
          type: string
        style: form
      - description: "Date de création minimale de l'entreprise, au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_creation_min
        required: false
        schema:
          example: 15-05-2002
          type: string
        style: form
      - description: "Date de création maximale de l'entreprise, au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_creation_max
        required: false
        schema:
          example: 17-05-2002
          type: string
        style: form
      - description: |-
          Tranche d'effectifs minimale de l'entreprise, selon la [nomenclature Sirene](https://www.sirene.fr/static-resources/documentation/v_sommaire_311.htm#73).

          **Note** : 00 ou NN donneront les mêmes résultats et veulent dire non employeur
        explode: true
        in: query
        name: tranche_effectif_min
        required: false
        schema:
          example: "40"
          type: string
        style: form
      - description: |-
          Tranche d'effectifs maximale de l'entreprise, selon la [nomenclature Sirene](https://www.sirene.fr/static-resources/documentation/v_sommaire_311.htm#73).

          **Note** : 00 ou NN donneront les mêmes résultats et veulent dire non employeur
        explode: true
        in: query
        name: tranche_effectif_max
        required: false
        schema:
          example: "42"
          type: string
        style: form
      - description: Type du dirigeant (ou de l'un des dirigeants de l'entreprise
          pour une recherche d'entreprises).
        explode: true
        in: query
        name: type_dirigeant
        required: false
        schema:
          enum:
          - physique
          - morale
          example: physique
          type: string
        style: form
      - description: Qualité du dirigeant (ou de l'un des dirigeants de l'entreprise
          pour une recherche d'entreprises).
        explode: true
        in: query
        name: qualite_dirigeant
        required: false
        schema:
          example: Administrateur
          type: string
        style: form
      - description: Nationalité du dirigeant (ou de l'un des dirigeants de l'entreprise
          pour une recherche d'entreprises).
        explode: true
        in: query
        name: nationalite_dirigeant
        required: false
        schema:
          example: Française
          type: string
        style: form
      - description: Nom du dirigeant (ou de l'un des dirigeants de l'entreprise pour
          une recherche d'entreprises).
        explode: true
        in: query
        name: nom_dirigeant
        required: false
        schema:
          example: Yi
          type: string
        style: form
      - description: Prénom du dirigeant (ou de l'un des dirigeants de l'entreprise
          pour une recherche d'entreprises).
        explode: true
        in: query
        name: prenom_dirigeant
        required: false
        schema:
          example: Kenneth H.
          type: string
        style: form
      - description: Âge minimal du dirigeant (ou de l'un des dirigeants de l'entreprise
          pour une recherche d'entreprises).
        explode: true
        in: query
        name: age_dirigeant_min
        required: false
        schema:
          example: 40
          type: integer
        style: form
      - description: Âge maximal du dirigeant (ou de l'un des dirigeants de l'entreprise
          pour une recherche d'entreprises).
        explode: true
        in: query
        name: age_dirigeant_max
        required: false
        schema:
          example: 42
          type: integer
        style: form
      - description: "Date de naissance minimale du dirigeant (ou de l'un des dirigeants\
          \ de l'entreprise pour une recherche d'entreprises), au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_de_naissance_dirigeant_min
        required: false
        schema:
          example: 0006-05-24
          format: date
          type: string
        style: form
      - description: "Date de naissance maximale du dirigeant (ou de l'un des dirigeants\
          \ de l'entreprise pour une recherche d'entreprises) de l'entreprise, au\
          \ format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_de_naissance_dirigeant_max
        required: false
        schema:
          example: 0006-05-24
          format: date
          type: string
        style: form
      - description: Âge minimal du bénéficiaire effectif (ou de l'un des bénéficiaires
          effectifs de l'entreprise pour une recherche d'entreprises).
        explode: true
        in: query
        name: age_beneficiaire_min
        required: false
        schema:
          example: 40
          type: integer
        style: form
      - description: Âge maximal du bénéficiaire effectif (ou de l'un des bénéficiaires
          effectifs de l'entreprise pour une recherche d'entreprises).
        explode: true
        in: query
        name: age_beneficiaire_max
        required: false
        schema:
          example: 42
          type: integer
        style: form
      - description: "Date de naissance minimale du bénéficiaire effectif (ou de l'un\
          \ des bénéficiaires effectifs de l'entreprise pour une recherche d'entreprises),\
          \ au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_de_naissance_beneficiaire_min
        required: false
        schema:
          example: 0006-05-24
          format: date
          type: string
        style: form
      - description: "Date de naissance maximale du bénéficiaire effectif (ou de l'un\
          \ des bénéficiaires effectifs de l'entreprise pour une recherche d'entreprises)\
          \ de l'entreprise, au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_de_naissance_beneficiaire_max
        required: false
        schema:
          example: 0037-04-22
          format: date
          type: string
        style: form
      - description: Nationalité du bénéficiaire effectif (ou de l'un des bénéficiaires
          effectifs de l'entreprise pour une recherche d'entreprises).
        explode: true
        in: query
        name: nationalite_beneficiaire
        required: false
        schema:
          example: Française
          type: string
        style: form
      - description: Type de publication
        explode: true
        in: query
        name: type_publication
        required: false
        schema:
          enum:
          - Création
          - Immatriculation
          - Modification
          - Vente
          - Radiation
          - Procédure collective
          - Dépôt des comptes
          example: Procédure collective
          type: string
        style: form
      - description: "Date publication minimale de la publication, au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_publication_min
        required: false
        schema:
          example: 0006-06-23
          format: date
          type: string
        style: form
      - description: "Date de publication maximale de la publication, au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_publication_max
        required: false
        schema:
          example: 0006-06-23
          format: date
          type: string
        style: form
      - description: SIREN de l'entreprise.
        explode: true
        in: query
        name: siren
        required: false
        schema:
          type: string
          example: null
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/recherche_documents_200_response'
          description: Recherche réussie. Le retour contient la liste des documents
            qui répondent aux critères indiqués.
        "401":
          description: Clé API incorrecte.
        "404":
          description: Aucun document ne correspond aux critères indiqués.
        "503":
          description: Service momentanément indisponible.
      summary: Recherche les documents qui correspondent à des critères.
      tags:
      - Recherche
  /recherche-publications:
    get:
      description: Tous les paramètres sont optionnels et servent à filtrer la recherche.
        Les différentes publications seront renvoyées dans un tableau `resultats`.
      operationId: recherche-publications
      parameters:
      - description: "Nombre de résultats affichés sur une page. Valeur par défaut\
          \ : `10`."
        explode: true
        in: query
        name: par_page
        required: false
        schema:
          example: 20
          type: integer
        style: form
      - description: "Page de résultats. Valeur par défaut : `1`."
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: "Niveau de précision de la recherche. Valeur par défaut : `\"\
          standard\"`."
        explode: true
        in: query
        name: precision
        required: false
        schema:
          enum:
          - approximative
          - standard
          - exacte
          example: standard
          type: string
        style: form
      - description: Mot-clé à rechercher dans le contenu de la publication.
        explode: true
        in: query
        name: q
        required: false
        schema:
          example: Liquidation
          type: string
        style: form
      - description: Code NAF de l'entreprise. Il est possible d'indiquer plusieurs
          codes NAF en les séparant par des virgules.
        explode: true
        in: query
        name: code_naf
        required: false
        schema:
          example: 70.10Z
          type: string
        style: form
      - description: Numéro de département de l'un des établissements de l'entreprise.
          Il est possible d'indiquer plusieurs départements en les séparant par des
          virgules.
        explode: true
        in: query
        name: departement
        required: false
        schema:
          example: "75"
          type: string
        style: form
      - description: "Code de la région de l'un des établissements de l'entreprise,\
          \ selon la [nomenclature Insee](https://www.insee.fr/fr/information/4316069#titre-bloc-18).\
          \ Il est possible d'indiquer plusieurs codes régions en les séparant par\
          \ des virgules."
        explode: true
        in: query
        name: region
        required: false
        schema:
          example: "11"
          type: string
        style: form
      - description: Code postal de l'un des établissements de l'entreprise. Il est
          possible d'indiquer plusieurs codes postaux en les séparant par des virgules.
        explode: true
        in: query
        name: code_postal
        required: false
        schema:
          example: "75009"
          type: string
        style: form
      - description: Convention collective de l'entreprise.
        explode: true
        in: query
        name: convention_collective
        required: false
        schema:
          example: "1486"
          type: string
        style: form
      - description: "Catégorie juridique de l'entreprise, selon la [nomenclature\
          \ Insee](https://www.insee.fr/fr/information/2028129). \n\n**Note** : Le\
          \ code correspond à celui de l'INSEE, à l'exception des SASU qui auront\
          \ comme code 5720 et les EURL qui auront comme code 5498."
        explode: true
        in: query
        name: categorie_juridique
        required: false
        schema:
          example: "5499"
          type: string
        style: form
      - description: Activité de l'entreprise cessée ou non.
        explode: true
        in: query
        name: entreprise_cessee
        required: false
        schema:
          example: false
          type: boolean
        style: form
      - description: Statut au RCS
        explode: true
        in: query
        name: statut_rcs
        required: false
        schema:
          enum:
          - inscrit
          - radie
          - non inscrit
          example: inscrit
          type: string
        style: form
      - description: Objet social de l'entreprise déclaré au RCS.
        explode: true
        in: query
        name: objet_social
        required: false
        schema:
          example: La conception de moteurs de recherche sur internet.
          type: string
        style: form
      - description: "Date d'immatriculation au RCS minimale de l'entreprise, au format\
          \ JJ-MM-AAAA."
        explode: true
        in: query
        name: date_immatriculation_rcs_min
        required: false
        schema:
          example: 15-05-2002
          type: string
        style: form
      - description: "d'immatriculation au RCS minimale de l'entreprise, au format\
          \ JJ-MM-AAAA."
        explode: true
        in: query
        name: date_immatriculation_rcs_max
        required: false
        schema:
          example: 15-05-2002
          type: string
        style: form
      - description: "Date de radiation au RCS minimale de l'entreprise, au format\
          \ JJ-MM-AAAA."
        explode: true
        in: query
        name: date_radiation_rcs_min
        required: false
        schema:
          example: 15-05-2002
          type: string
        style: form
      - description: "Date de radiation au RCS maximale de l'entreprise, au format\
          \ JJ-MM-AAAA."
        explode: true
        in: query
        name: date_radiation_rcs_max
        required: false
        schema:
          example: 17-05-2002
          type: string
        style: form
      - description: Capital minimum de l'entreprise.
        explode: true
        in: query
        name: capital_min
        required: false
        schema:
          example: "411016200"
          type: string
        style: form
      - description: Capital maximum de l'entreprise.
        explode: true
        in: query
        name: capital_max
        required: false
        schema:
          example: "411016400"
          type: string
        style: form
      - description: |-
          Chiffre d'affaires minimum de l'entreprise.

          **Note** : Filtrer sur ce critère restreint énormément les entreprises retournées car cela élimine d'office toutes les entreprises dont les comptes ne sont pas publiés.
        explode: true
        in: query
        name: chiffre_affaires_min
        required: false
        schema:
          example: "411016200"
          type: string
        style: form
      - description: |-
          Chiffre d'affaires maximum de l'entreprise.

          **Note** : Filtrer sur ce critère restreint énormément les entreprises retournées car cela élimine d'office toutes les entreprises dont les comptes ne sont pas publiés.
        explode: true
        in: query
        name: chiffre_affaires_max
        required: false
        schema:
          example: "411016400"
          type: string
        style: form
      - description: |-
          Résultat minimum de l'entreprise.

          **Note** : Filtrer sur ce critère restreint énormément les entreprises retournées car cela élimine d'office toutes les entreprises dont les comptes ne sont pas publiés.
        explode: true
        in: query
        name: resultat_min
        required: false
        schema:
          example: "29327000"
          type: string
        style: form
      - description: |-
          Résultat maximum de l'entreprise.

          **Note** : Filtrer sur ce critère restreint énormément les entreprises retournées car cela élimine d'office toutes les entreprises dont les comptes ne sont pas publiés.
        explode: true
        in: query
        name: resultat_max
        required: false
        schema:
          example: "29327100"
          type: string
        style: form
      - description: "Date de création minimale de l'entreprise, au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_creation_min
        required: false
        schema:
          example: 15-05-2002
          type: string
        style: form
      - description: "Date de création maximale de l'entreprise, au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_creation_max
        required: false
        schema:
          example: 17-05-2002
          type: string
        style: form
      - description: |-
          Tranche d'effectifs minimale de l'entreprise, selon la [nomenclature Sirene](https://www.sirene.fr/static-resources/documentation/v_sommaire_311.htm#73).

          **Note** : 00 ou NN donneront les mêmes résultats et veulent dire non employeur
        explode: true
        in: query
        name: tranche_effectif_min
        required: false
        schema:
          example: "40"
          type: string
        style: form
      - description: |-
          Tranche d'effectifs maximale de l'entreprise, selon la [nomenclature Sirene](https://www.sirene.fr/static-resources/documentation/v_sommaire_311.htm#73).

          **Note** : 00 ou NN donneront les mêmes résultats et veulent dire non employeur
        explode: true
        in: query
        name: tranche_effectif_max
        required: false
        schema:
          example: "42"
          type: string
        style: form
      - description: Type du dirigeant (ou de l'un des dirigeants de l'entreprise
          pour une recherche d'entreprises).
        explode: true
        in: query
        name: type_dirigeant
        required: false
        schema:
          enum:
          - physique
          - morale
          example: physique
          type: string
        style: form
      - description: Qualité du dirigeant (ou de l'un des dirigeants de l'entreprise
          pour une recherche d'entreprises).
        explode: true
        in: query
        name: qualite_dirigeant
        required: false
        schema:
          example: Administrateur
          type: string
        style: form
      - description: Nationalité du dirigeant (ou de l'un des dirigeants de l'entreprise
          pour une recherche d'entreprises).
        explode: true
        in: query
        name: nationalite_dirigeant
        required: false
        schema:
          example: Française
          type: string
        style: form
      - description: Nom du dirigeant (ou de l'un des dirigeants de l'entreprise pour
          une recherche d'entreprises).
        explode: true
        in: query
        name: nom_dirigeant
        required: false
        schema:
          example: Yi
          type: string
        style: form
      - description: Prénom du dirigeant (ou de l'un des dirigeants de l'entreprise
          pour une recherche d'entreprises).
        explode: true
        in: query
        name: prenom_dirigeant
        required: false
        schema:
          example: Kenneth H.
          type: string
        style: form
      - description: Âge minimal du dirigeant (ou de l'un des dirigeants de l'entreprise
          pour une recherche d'entreprises).
        explode: true
        in: query
        name: age_dirigeant_min
        required: false
        schema:
          example: 40
          type: integer
        style: form
      - description: Âge maximal du dirigeant (ou de l'un des dirigeants de l'entreprise
          pour une recherche d'entreprises).
        explode: true
        in: query
        name: age_dirigeant_max
        required: false
        schema:
          example: 42
          type: integer
        style: form
      - description: "Date de naissance minimale du dirigeant (ou de l'un des dirigeants\
          \ de l'entreprise pour une recherche d'entreprises), au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_de_naissance_dirigeant_min
        required: false
        schema:
          example: 0006-05-24
          format: date
          type: string
        style: form
      - description: "Date de naissance maximale du dirigeant (ou de l'un des dirigeants\
          \ de l'entreprise pour une recherche d'entreprises) de l'entreprise, au\
          \ format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_de_naissance_dirigeant_max
        required: false
        schema:
          example: 0006-05-24
          format: date
          type: string
        style: form
      - description: Âge minimal du bénéficiaire effectif (ou de l'un des bénéficiaires
          effectifs de l'entreprise pour une recherche d'entreprises).
        explode: true
        in: query
        name: age_beneficiaire_min
        required: false
        schema:
          example: 40
          type: integer
        style: form
      - description: Âge maximal du bénéficiaire effectif (ou de l'un des bénéficiaires
          effectifs de l'entreprise pour une recherche d'entreprises).
        explode: true
        in: query
        name: age_beneficiaire_max
        required: false
        schema:
          example: 42
          type: integer
        style: form
      - description: "Date de naissance minimale du bénéficiaire effectif (ou de l'un\
          \ des bénéficiaires effectifs de l'entreprise pour une recherche d'entreprises),\
          \ au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_de_naissance_beneficiaire_min
        required: false
        schema:
          example: 0006-05-24
          format: date
          type: string
        style: form
      - description: "Date de naissance maximale du bénéficiaire effectif (ou de l'un\
          \ des bénéficiaires effectifs de l'entreprise pour une recherche d'entreprises)\
          \ de l'entreprise, au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_de_naissance_beneficiaire_max
        required: false
        schema:
          example: 0037-04-22
          format: date
          type: string
        style: form
      - description: Nationalité du bénéficiaire effectif (ou de l'un des bénéficiaires
          effectifs de l'entreprise pour une recherche d'entreprises).
        explode: true
        in: query
        name: nationalite_beneficiaire
        required: false
        schema:
          example: Française
          type: string
        style: form
      - description: "Date de dépôt minimale du document, au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_depot_document_min
        required: false
        schema:
          example: 0006-06-23
          format: date
          type: string
        style: form
      - description: "Date de dépôt maximale du document, au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_depot_document_max
        required: false
        schema:
          example: 0006-06-23
          format: date
          type: string
        style: form
      - description: Type de publication
        explode: true
        in: query
        name: type_publication
        required: false
        schema:
          enum:
          - Création
          - Immatriculation
          - Modification
          - Vente
          - Radiation
          - Procédure collective
          - Dépôt des comptes
          example: Procédure collective
          type: string
        style: form
      - description: "Date publication minimale de la publication, au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_publication_min
        required: false
        schema:
          example: 0006-06-23
          format: date
          type: string
        style: form
      - description: "Date de publication maximale de la publication, au format JJ-MM-AAAA."
        explode: true
        in: query
        name: date_publication_max
        required: false
        schema:
          example: 0006-06-23
          format: date
          type: string
        style: form
      - description: SIREN de l'entreprise.
        explode: true
        in: query
        name: siren
        required: false
        schema:
          type: string
          example: null
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/recherche_publications_200_response'
          description: Recherche réussie. Le retour contient la liste des publications
            qui répondent aux critères indiqués.
        "401":
          description: Clé API incorrecte.
        "404":
          description: Aucune publication ne correspond aux critères indiqués.
        "503":
          description: Service momentanément indisponible.
      summary: Recherche les publications BODACC qui correspondent à des critères.
      tags:
      - Recherche
  /suggestions:
    get:
      description: |
        Cette route est également accessible via le point d'accès suivant : `https://suggestions.pappers.fr/v2?q=googl`.

        D'autre part, afin de permettre une intégration en front-end la plus directe, cette route est également accessible sans clé API, avec des limitations quotidiennes du nombre d'appels.
      operationId: suggestions
      parameters:
      - description: Début de recherche textuelle
        explode: true
        in: query
        name: q
        required: true
        schema:
          example: googl
          type: string
        style: form
      - description: "Nombre de résultats. Maximum 100. Valeur par défaut : `10`."
        explode: true
        in: query
        name: longueur
        required: false
        schema:
          example: 20
          type: integer
        style: form
      - description: "Cibles de la recherche, séparées par des virgules. Valeur par\
          \ défaut : `\"nom_entreprise\"`."
        explode: true
        in: query
        name: cibles
        required: false
        schema:
          enum:
          - nom_entreprise
          - denomination
          - nom_complet
          - representant
          - siren
          - siret
          example: "nom_entreprise,siren,siret"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/suggestions_200_response'
          description: Requête correctement exécutée. Le retour contient une ou plusieurs
            listes d'entreprises en fonction du paramètre `cibles` de la requête.
        "400":
          description: Paramètres de la requête incorrects.
      summary: Recherche les entreprises qui correspondent à un début de recherche
        textuelle (type autocomplete).
      tags:
      - Suggestions / Autocomplete
  /entreprise/comptes:
    get:
      description: Vous devez fournir le SIREN de l'entreprise pour laquelle vous
        souhaitez obtenir les comptes annuels.
      operationId: comptes-annuels
      parameters:
      - description: SIREN de l'entreprise
        explode: true
        in: query
        name: siren
        required: false
        schema:
          example: "443061841"
          type: string
        style: form
      - description: "Année de cloture des comptes souhaités. Il est possible d'indiquer\
          \ plusieurs années en les séparant par des virgules. Si le paramètre n'est\
          \ pas fourni, toutes les années disponibles seront retournées."
        explode: true
        in: query
        name: annee
        required: false
        schema:
          example: "2016,2017,2018"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  description: Comptes disponibles pour l'année correspondant à la
                    clé.
                  items:
                    $ref: '#/components/schemas/comptes_annuels_200_response_value_inner'
                  type: array
                type: object
          description: "Comptes annuels disponibles. Le retour contient les comptes\
            \ détaillés, ainsi que les ratios associés."
        "400":
          description: Paramètres de la requête incorrects.
        "401":
          description: Clé API incorrecte.
        "404":
          description: Comptes annuels indisponibles.
        "503":
          description: Service momentanément indisponible.
      summary: Récupère les comptes annuels publiés d'une entreprise.
      tags:
      - Comptes annuels
  /entreprise/cartographie:
    get:
      description: |
        Cette route fournit les données nécessaires à l'établissement de la cartographie Pappers d'une entreprise telle qu'elle apparaît sur les fiches Pappers (exemple https://www.pappers.fr/entreprise/google-france-443061841#cartographie).

        - La requête est gratuite (erreur 404) si seul le noeud principal (l'entreprise recherchée) est disponible.
        - La requête coûte 1 jeton si, en plus du noeud principal, des noeuds dirigeants directs de l'entreprise sont disponibles. Il est possible de rejeter ces cas avec le paramètre `rejeter_premier_degre`. La requête est alors gratuite (erreur 404).
        - La requête coûte 3 jetons si des noeuds supplémentaires sont disponibles.
      operationId: cartographie
      parameters:
      - description: SIREN de l'entreprise
        explode: true
        in: query
        name: siren
        required: true
        schema:
          example: "443061841"
          type: string
        style: form
      - description: "Si vrai, la cartographie intègrera les entreprises dirigées\
          \ par l'entreprise recherchée et les entreprises qui dirigent l'entreprise\
          \ recherchée. Valeur par défaut : `true`."
        explode: true
        in: query
        name: inclure_entreprises_dirigees
        required: false
        schema:
          type: boolean
        style: form
      - description: "Si vrai, la cartographie intègrera les entreprises citées conjointement\
          \ avec l'entreprise recherchée dans des actes et statuts. Valeur par dé\
          faut : `false`."
        explode: true
        in: query
        name: inclure_entreprises_citees
        required: false
        schema:
          type: boolean
        style: form
      - description: "Si vrai, la cartographie intègrera les SCI. Valeur par défaut\
          \ : `true`."
        explode: true
        in: query
        name: inclure_sci
        required: false
        schema:
          type: boolean
        style: form
      - description: "Si vrai, la cartographie pourra adapter automatiquement ses\
          \ paramètres si ceux choisis manuellement ne sont pas idéaux. Valeur par\
          \ défaut : `false`."
        explode: true
        in: query
        name: autoriser_modifications
        required: false
        schema:
          type: boolean
        style: form
      - description: "Si vrai et que la cartographie ne fait apparaître que l'entreprise\
          \ recherchée ainsi que ses dirigeants directs, une erreur 404 sera renvoyé\
          e et la requête ne sera pas comptabilisée dans le quota de jetons. Valeur\
          \ par défaut : `false`."
        explode: true
[...]
